html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  line-height: normal;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
a {
  color: #000;
  text-decoration: none;
  font-family: rubik,sans-serif;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.container{
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 1250px){
  .container {
  max-width: 1200px;
}}
.row {
  display: inline-block;
  width: 100%;
  margin: 0;
}
.h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.marginTop30 {
  margin-top: 30px;
}
.marginTop50 {
  margin-top: 50px;
}
.alignCenter {
  text-align: center;
}
form {
  display: block;
  margin-top: 0em;
}