.heroSlider{
    display: inline-block;
    width: 100%;
    background-color: aqua;
}
.container{
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0;
}
.heroSliderContainer{
    margin-bottom: 0;
    position: relative;
    width: 100%;
    max-width: 100%;
}
.slidesSlider{
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.rslides{
    padding: 0;
    margin-top: 0;
    margin-bottom: 24px;
}
.rslides .slidesSlider{
    margin-bottom: 0;
}
.rslides>li{
    display: none;
    list-style: none;
}
.rslides>li a{
    height: fit-content;
}
.slidesSlider>li{
    width: 100%;
    list-style: none;
    text-align: center;
}
.slide{
    display: list-item;
    float: left;
    position: relative;
    opacity: 1;
    z-index: 2;
    transition: opacity 500ms ease-in-out 0s;
}
.a{
    color: #000;
    text-decoration: none;
    font-family: 'RUBIK',sans-serif;
}
.a:-webkit-any-link{
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
.rslides img{
    width: 100%;
    height: auto;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    display: block;
}
.slidesSlider{
    display: block;
    position: relative;
    z-index: 1;
    height: auto;
    border: 0;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    max-width: 100%;
}